@charset "utf-8";
/* CSS Document */
@media only screen and (max-width : 1366px) {
	/*Header*/
	.HeaderMobile_icon{display:none;}
	.NHANDIEN{display:none;}
}

@media only screen and (max-width : 768px) {
	/*Header*/
        .NHANDIEN{display:block;}
	.HeaderMobile_icon{ display:block;}
	.Header_List{display:none;}	
	.bg_Header{height:50px;}
	
	/*menuHeader*/
	.menuHeader ul li{width:32.5%;}
	.menuHeader ul li:first-child{
		display:none;
	}
	.menuHeader ul li:last-child{
		display:none;
	}
	.menuHeader ul li:nth-child(3){
		display:none;
	}
	
	/*Silde*/
	.bg_Slide{display:none;}
	
	/*Main*/
	.Main{
		margin:0 0 0 0
	}
	/*MOBAT*/
	.MOBAT{display:none;}
	.MOBAT_box_menu ul li{
		width:30%;
	}
	
	/*TKVIP*/
	.VIP_images{display:none;}
	.VIP_text{
		width:100%;
		padding:5px 0 5px 0;
	}
	.VIP_text_1{
		width:48%;
		float:left;
		margin-left:1%;
		text-align:left;
		color:#7e0e00;
		font-size:24px;
		font-weight:bold;
	}
	.VIP_text_2{
		width:48%;
		margin-left:3%;
		float:left;
		text-align:left;
		color:#7e0e00;
		font-size:24px;
		font-weight:bold;
	}
	.VIP_text_1_menu ul li{
		line-height:24px;
		border-bottom:1px dashed#b4b4b4;
	}
	.VIP_text_1_menu ul li a{
		font-size:16px;
	}
	
	/*TKFREE*/
	.Free_images{display:none;}
	.Free_text{float:left; width:100%;}
	
	/*KQXS*/
	.KQMB{width:100%; margin-bottom:10px; border:1px solid#d5d5d5;}
	.KQMN{width:100%; margin:0 0 10px 0; border:1px solid#d5d5d5;}
	.KQMT{width:100%; border:1px solid#d5d5d5;}
	
	/*DSKQ*/
	.DSKQ{ margin-left:10px;}
	.DSKQ_table_1{width:50%;}
	
	/*TKGAN*/
	.Main_col_1{
		width:100%;
	}
	.Main_col_2{
		width:100%;
	}
	.bg_KQ{
		padding:10px 10px 0 0;
	}
	
	/*PTLT*/
	.PTLT_KQ_Table{
		width:100%;
	}
	/*DACBIET*/
	.DACBIET_KQ{
		font-size:11px;
	}
	.DACBIET_KQ_col span{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		line-height:18px;
	}
	
	/*KQXSMIEBAC*/
	.TableKQMB_left_1{
		width:100%;
		margin-bottom:10px;
	}
	.TableKQMB_centre_2{
		width:49%;
		margin: 0 2% 0 0;
	}
	.TableKQMB_right_3{
		width:49%;
	}
	.TableKQMB_title{font-size:14px;}
	.TableKQMB_col_1{
		width:20%;
		font-size:11px;
	}
	
	/*KQXSHOMNAY*/
	.TableKQMN_DAUDUOI_left{
		width:100%;
		float:left;
		margin-right:0;
	}
	.TableKQMN_DAUDUOI_right{
		width:100%;
		float:left;
		margin-top:10px;
	}
	/*USER*/
	.USER_bg_Popup{
		width:96%;
	}
	.USER_Popup_SMS_1{
		width:100%;
	}
	.USER_Popup_SMS_2{
		width:100%;
		margin:0 0 0 0;
	}
	.USER_Popup{
		padding:10px 5px 10px 10px;
	}
	
	/*LIENHE*/
	.LH_bg_Popup{
		width:96%;
	}
	.LH_Popup{
		padding:10px 5px 10px 10px;
	}
	
	/*TKNHANH*/
	.TKNHANH_KQ_1{
		width:33%;
		margin-right:0.5%;
	}
	.TKNHANH_KQ_col_2{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
}
@media only screen and (max-width : 320px) {
	/*Header*/
	.HeaderMobile_icon{ display:block;}
	.Header_List{display:none;}	
	.bg_Header{height:50px;}
	
	/*menuHeader*/
	.menuHeader ul li{width:32.5%;}
	.menuHeader ul li:first-child{
		display:none;
	}
	.menuHeader ul li:last-child{
		display:none;
	}
	.menuHeader ul li:nth-child(3){
		display:none;
	}
	
	/*Silde*/
	.bg_Slide{display:none;}
	
	/*Main*/
	.Main{
		margin:0 0 0 0;
	}
	/*MOBAT*/
	.MOBAT{display:none;}
	.MOBAT_box_menu ul li{
		width:30%;
	}
	
	/*TKVIP*/
	.VIP_images{display:none;}
	.VIP_text{
		width:100%;
		padding:5px 0 5px 0;
	}
	.VIP_text_1{
		width:48%;
		float:left;
		margin-left:1%;
		text-align:left;
		color:#7e0e00;
		font-size:24px;
		font-weight:bold;
	}
	.VIP_text_2{
		width:48%;
		margin-left:3%;
		float:left;
		text-align:left;
		color:#7e0e00;
		font-size:24px;
		font-weight:bold;
	}
	.VIP_text_1_menu ul li{
		line-height:24px;
		border-bottom:1px dashed#b4b4b4;
	}
	.VIP_text_1_menu ul li a{
		font-size:16px;
	}
	
	/*TKFREE*/
	.Free_images{display:none;}
	.Free_text{float:left; width:100%;}
	
	/*KQXS*/
	.KQMB{width:100%; margin-bottom:10px; border:1px solid#d5d5d5;}
	.KQMN{width:100%; margin:0 0 10px 0; border:1px solid#d5d5d5;}
	.KQMT{width:100%; border:1px solid#d5d5d5;}
	
	/*DSKQ*/
	.DSKQ{ margin-left:10px;}
	.DSKQ_table_1{width:50%;}
	
	/*TKGAN*/
	.Main_col_1{
		width:100%;
	}
	.Main_col_2{
		width:100%;
	}
	.bg_KQ{
		padding:10px 10px 0 0;
	}
	
	/*PTLT*/
	.PTLT_KQ_Table{
		width:100%;
	}
	/*DACBIET*/
	.DACBIET_KQ{
		font-size:11px;
	}
	.DACBIET_KQ_col span{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		line-height:18px;
	}
	.DACBIET_KQ_col{
		width:12%;
	}
	
	/*KQXSMIEBAC*/
	.TableKQMB_left_1{
		width:100%;
		margin-bottom:10px;
	}
	.TableKQMB_centre_2{
		width:49%;
		margin: 0 2% 0 0;
	}
	.TableKQMB_right_3{
		width:49%;
	}
	.TableKQMB_title{font-size:14px;}
	.TableKQMB_col_1{
		width:20%;
		font-size:11px;
	}
	
	/*KQXSHOMNAY*/
	.TableKQMN_DAUDUOI_left{
		width:100%;
		float:left;
		margin-right:0;
	}
	.TableKQMN_DAUDUOI_right{
		width:100%;
		float:left;
		margin-top:10px;
	}
	/*USER*/
	.USER_bg_Popup{
		width:96%;
	}
	.USER_Popup_SMS_1{
		width:100%;
	}
	.USER_Popup_SMS_2{
		width:100%;
		margin:0 0 0 0;
	}
	.USER_Popup{
		padding:10px 5px 10px 10px;
	}
	
	/*LIENHE*/
	.LH_bg_Popup{
		width:96%;
	}
	.LH_Popup{
		padding:10px 5px 10px 10px;
	}
	
	/*TKNHANH*/
	.TKNHANH_KQ_1{
		width:33%;
		margin-right:0.5%;
	}
	.TKNHANH_KQ_col_1{
	width:30%;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.TKNHANH_KQ_col_2{
	width:70%;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding:5px 0 5px 0;
}

}
